@media screen and (max-width: 480px){
    .borneo-title h1{
        font-size: 2rem;
    }
    
    .borneo-title h1:nth-child(2){
        transform: translateX(1.5rem);
    }
    
    .borneo-title h1:nth-child(3){
        transform: translateX(1.5rem);
    }
    
    .borneo-title h1:nth-child(4){
        transform: translateX(1.5rem);
    }

    .slideshow *{
        display: none;
    }

    .menu{
        width: fit-content;
    }
    .food-card{
        height:580px;
        width: 300px;
    }
    .food-card img{
        max-height:500px;
        width: 300px;
        object-fit: cover;
    }
    .food-image h1{
        position: absolute;
        top: 150px;
    }
    .food-info{
        padding:0.75rem;
    }

}
/* 
.food-info{
	padding: 1rem 2rem 2rem 2rem;
	height: auto;
}

.food-description, 
.food-allergies,
.food-nutrition{
	height:fit-content;
	border-bottom: 1px solid black;
	padding:1rem;
}

.food-info h2{
	margin-bottom: 1rem;
}

.food-info p{
	line-height: 1.5rem;
}

.allergens-list{
	display: flex;
	list-style-type: none;
}

.allergens-list li{
	margin-right: 2rem;
} */
