@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


@media screen and (min-width: 320px) and (max-width: 480px){
  #desktop-nav{
    display: none !important;
  }
  #about-us{
    height:90vh;
    padding-top:0;
  }
  #about-us .container:nth-child(2){
    padding:3rem 0;
  }
  .about-malaysia{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  #carousel{
    height: auto;
  }
  #the-team{
    height: fit-content;
  }
  #the-team .container .row{
    display: flex;
    flex-direction: column;
  }

  #the-team .container >.row > .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  


}