@media screen and (max-width: 768px) {
    html,
    body{
        width: 100%;
        height: 100%;
        padding:0;
        margin: 0;
        overflow-x: hidden;
    }
    #about-us {
        height: 80%;
        align-items: center;
        display: flex;
        margin: 2rem 0;
    }

    #about-us .jumbotron {
        padding: 1rem 0;
        height:fit-content !important;
    }

    #about-us h2 {
        font-size: 1.5rem; 
    }

    #about-us p {
        font-size: 0.875rem;
        margin: 0.5rem;
    }

    #about-us .container .row{
        padding:1.5rem 0;
        width: 100%;
    } 

    #mission-and-vision{
        height:fit-content;
        margin-bottom: 2rem;
    }
    #mission-and-vision .jumbotron{
        margin-top: 2rem;
    }

    #join-us{
        height: 40vh;
    }
    #join-us h1{
        font-size: 1.5rem;
    }

    #join-us .jumbotron{
        height:100%;
        border-bottom-left-radius: 80% 300px;
        border-bottom-right-radius: 80% 300px;
        margin-bottom: 2rem;
    }

    #the-team{
        height:fit-content;
        margin:4rem 0;
    }

    #the-team .row{
        margin: 2rem 0;
    }

    #the-team .container .faces{
        margin-bottom: 2rem;
        padding: 0 0 0 0;
    }
    
    #the-team p{
        font-size: 0.875rem; 
        margin: 0.5rem; 
    }
    #the-team .team-desc{
        padding:0 0.5rem;
    }
    #mission-and-vision .card:hover{
        transform: scale(1);
    }
}