@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    padding: 0;
    margin:0;
    outline: none;
    box-sizing: border-box;
}

/*Custom*/
.altpartner {
    margin-top: 3em;
    padding: 2em 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.make-center {
    margin-left: auto;
    margin-right: auto;
}

.text-justify {
    text-align: justify !important;
}

.fixed-line-height {
    line-height: 50px;
}

.text-center {
    text-align: center;
}

:root{
    --bg-control: #000000;
}

/*Hero*/
#hero-container {
    width: 100%;
}

#hero {
    position: relative;
    object-fit: cover;
    z-index: 1;
    width:100%;
    height: 850px;
    top: 0px;
}

#hero-gradient {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    width:100%;
    height: 900px;
    top: 0px;
    color: black;
    background: linear-gradient(180deg, rgba(2, 2, 2, 0) 33.33%, rgba(2, 2, 2, 0) 33.33%, var(--bg-control) 80%, var(--bg-control) 100%);
}

/*Slideshow Container*/
#black-container {
    position: relative;
    background-color: var(--bg-control);
    width: 100%;
    height: 40%;
    padding-bottom: 3em;
}

#closing-container {
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, #000000 0%, #000000 40%, rgba(0, 0, 0, 0) 100%);
}

#set-video {
    margin-top:2em;
    width: 65%;
    max-width: 1000px;
    border-radius: 10px;
}

.carousel {
    width: 70%;
    max-width: 1100px;
}

.join-us-banner {
    position: relative;
    width: 674px;
    height: 275px;
    z-index: 1;
    border-radius: 15px;
}

.join-us-banner-container {
    position: absolute;
    width: 674px;
    height: 275px;
    z-index: 2;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 42%, #CD1010 100%);
    border-radius: 15px;
}

/*For Join Us Banner*/
#jumbo {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 70%, #CD1010 100%), url("/Asset/Images/join-us-banner.png");
    background-size: cover;
    color: rgba(255, 255, 255);
    position: relative;
    padding: 50px;
    margin-top:50px;
    border-radius: 15px;
}

  
.inner{
    color:rgb(250,250,250);
    opacity: 1;
}

/*Custom banner ul*/
.boxtick {
    list-style-image: url("/Asset/Icons/list-style-boxtick.png");
}

.arrowInBanner{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
}

.ribbonconfig + h2 {
    position: absolute;
    margin-top: calc(0px + 0.8vw);
    font-size: calc(0.5rem + 1.2vw);
    color: white;
}

/*Marquee*/
.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
}

.marquee__content {
    animation: scroll 30s linear infinite;
}

.marquee--hover-pause:hover .marquee__content {
    animation-play-state: paused;
}

.marquee ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
}


/* Popup form*/
.form-popup {
    display: none;
    position: fixed;
    top:40%;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 4;
}
  
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    /*background: #f1f1f1;*/
}
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

.form-container{
    max-width: 800px;
    background: #fff;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/*Form title*/
.form-container .text{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-popup {
    display:fixed;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    z-index: 100;
    overflow:auto;
}

.form-container form{
    padding: 30px 0 0 0;
}

.form-container form .form-row{
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

  form .form-row .textarea{
    height: 70px;
}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  background: #3498db;
  height: 1px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

