body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)),
        url('https://www.shutterstock.com/image-vector/seamless-texture-kitchen-doodle-sketch-600nw-278535350.jpg');
}

#about-us p,
#the-team p,
#mission-and-vision p {
    color: var(--color-gray);
}

/* Hero */
#hero {
    height: 75vh;
}

#hero h1 {
    font-size: 6rem;
    width: fit-content;
}

#hero .circle {
    border-radius: 50%;
}

#hero a {
    text-decoration: none;
    color: var(--color-red);
}

#hero a {
    text-decoration: none;
    color: var(--color-red);
    transition: color 0.2s ease-in-out;
}

#hero a:hover {
    color: var(--color-black);
}

.red-circle {
    background-color: var(--color-red);
    height: 294px;
    width: 294px;
    left: -10%;
    top: 25%;
}

.yellow-circle {
    background-color: var(--color-yellow);
    height: 150px;
    width: 150px;
    left: 50%;
}

.blue-circle {
    background-color: var(--color-blue);
    width: 200px;
    height: 200px;
    left: 75%;
    top: 30%;
}

.green-circle {
    background-color: var(--color-green);
    width: 180px;
    height: 180px;
}

/* About us */
#about-us {
    height: 75vh;
    width: 100%;
}

#about-us .container .row {
    padding: 3rem 0;
    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

#about-us .about-malaysia img {
    position: relative;
    object-fit: cover;
    /* Ensures the image covers the container */
    z-index: -1;
    /* Image is behind the text */
}

#about-us h2 {
    position: relative;
    left: -60%;
}

.flag {
    background: linear-gradient(45deg, #d32f2f, #1976d2, #FFD700);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p .flag {
    background: var(--color-black);
    background-clip: text;
}

p .flag:hover {
    background: linear-gradient(45deg, #d32f2f, #1976d2, #FFD700);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#malay {
    color: var(--color-green);
}

#chinese {
    color: var(--color-red);
}

#indian {
    color: var(--color-purple);
}

.alex,
.jia-en,
.thomas,
.jimmy {
    color: var(--color-black);
}

#the-team .intro {
    color: var(--color-black);
}

.background-fill {
    z-index: -2;
    border-radius: 50%;
}

/* The team */
#the-team {
    height: 100vh;
    width: 100%;
}

#the-team .container .faces {
    box-sizing: border-box;
    padding: 2rem;
    border: 5px solid #0000;
    --_g: #0000 90deg, var(--color-black) 0;
    --_p: 100px 100px border-box no-repeat;
    background:
        conic-gradient(from 90deg at top 5px left 5px, var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 180deg at top 5px right 5px, var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom 5px left 5px, var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom 5px right 5px, var(--_g)) 100% 100% / var(--_p);
}

figure {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

figure img{
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

figcaption {
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    z-index: 1;
}

figcaption .role {
    transform: translateY(-500px);
    color: var(--color-yellow);
}

figcaption .name {
    transform: translateY(75px);
}

figure:hover img,
.hover-active img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.role,
.name {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.team-desc {
    padding: 0 4rem;
}

.team-desc h1 {
    border-bottom: 0.75rem solid var(--color-black)
}

.team-desc span {
    font-weight: bold;
}

.member {
    color: var(--color-red);
    font-weight: bold;
}

.dot {
    position: relative;
    top: 19px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-color: var(--color-red);
}

#jia-en {
    transform: translateY(20px);
}

#jimmy {
    transform: translateY(20px);
}

/* Mission and Vision */
#mission-and-vision {
    min-height: 75vh;
    width: 100%;
}

#mission-and-vision h1 {
    color: var(--color-red)
}

#mission-and-vision .card {
    width: 250px;
    height: 346px;
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    border: none;
}

#mission-and-vision .card::after {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--color-red);
    position: absolute;
    right: 250px;
    transition: right 0.4s 0s linear;
    z-index: 1;
}

#mission-and-vision .card:hover::after {
    right: -160px;
}

#mission-and-vision .card span {
    font-weight: 600;
    color: var(--color-black);
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
    z-index: 10;
}

#mission-and-vision .card .img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid var(--color-black);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#mission-and-vision .card .desc {
    font-weight: 400;
    color: var(--color-black);
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
}

#mission-and-vision .card:hover {
    transform: scale(1.2);
}

#mission-and-vision .card:hover {
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.25);
}

#mission-and-vision .card:hover p {
    color: var(--color-white);
}

#mission-and-vision .card .showcase {
    color: var(--color-red);
}

#mission-and-vision .card .vision {
    color: var(--color-yellow);
}

#mission-and-vision .card .connect {
    color: var(--color-green);
}

#mission-and-vision .card:hover * {
    color: var(--color-white);
}

#mission-and-vision .card:hover .img {
    border-color: var(--color-white);
}

#mission-and-vision .card:hover circle {
    fill: var(--color-white);
}

#join-us {
    height: 50vh;
}

#join-us h1 {
    font-size: 6rem;
}

.quote-container {
    border-top-left-radius: 4px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 4px;
}