/* Hero section */
#hero {
	background-color: var(--color-green);
	height: 75vh;
}

#sabah-sarawak-carousel {
	z-index: 99;
}

#sabah-sarawak-carousel img {
	object-fit: fill;
}

.borneo-title {
	width: fit-content;
	height: fit-content;
}

.borneo-title .desktop-hero h1 {
	color: var(--color-yellow);
	font-size: 6rem;
}

.borneo-title .desktop-hero .sabah:first-of-type {
	position: relative;
	z-index: 100;
}

.borneo-title .desktop-hero h1:nth-child(2) {
	color: var(--color-white);
	transform: translateX(15rem);
}

.borneo-title .desktop-hero h1:nth-child(4) {
	position: relative;
	z-index: 100;
	color: var(--color-white);
	transform: translateX(11rem);
}

.borneo-title .mobile-hero .sarawak {
	color: var(--color-yellow);
}

.borneo-title .mobile-hero .sabah {
	color: var(--color-white);
}

.mobile-hero {
	display: none;
}

.desktop-hero {
	width: fit-content;
}

.blackbar {
	bottom: 0;
	border: 2px solid black;
}
