@media (min-width: 1024px) {
    #sabah-sarawak-carousel {
        left: 27%;
        top: 15%;
    }

    #hero .carousel-item {
        width: 19vw;
        height: fit-content;
    }

    #hero .blackbar {
        height: 16vh;
    }
}

@media (max-width: 1023px) {

    .sabah,
    .sarawak {
        width: fit-content;
    }

    #sabah-sarawak-carousel {
        left: 10%;
        top: 15%;
    }

    #hero .carousel-item {
        width: 50vw;
        height: fit-content;
    }

    .borneo-title h1 {
        font-size: 4rem;
    }

    .borneo-title .desktop-hero h1:nth-child(2) {
        transform: translateX(0rem) !important;
    }

    .blackbar {
        height: 15vh;
    }
}

@media (max-width: 480px) {

    .sabah,
    .sarawak {
        width: fit-content;
    }

    #hero {
        overflow: hidden;
    }

    #sabah-sarawak-carousel {
        display: none;
    }

    .borneo-title h1 {
        font-size: 4rem;
        line-height: 1.8rem;
    }

    .borneo-title .sabah {
        transform: translateX(0rem) !important;
    }

    .borneo-title .sarawak {
        transform: translateX(0rem) !important;
    }

    .mobile-hero {
        display: block;
    }

    .desktop-hero {
        display: none;
    }

    .blackbar {
        height: 75px;
    }
}

@media (max-width: 360px) {

    .sabah,
    .sarawak {
        width: fit-content;
    }

    #hero {
        overflow: hidden;
    }

    #sabah-sarawak-carousel {
        display: none;
    }

    /* .borneo-title{
        justify-content: center;
    } */

    .borneo-title h1 {
        font-size: 4rem;
        line-height: 3rem;
    }

    .borneo-title .sabah {
        transform: translateX(0rem) !important;
    }

    .borneo-title .sarawak {
        transform: translateX(0rem) !important;
    }

    .mobile-hero {
        display: block;
    }

    .desktop-hero {
        display: none;
    }
}