@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* :root {
    --font-base: "Poppins";
    --color-black: #151618;
    --color-white: #fafafa;
    --color-medium-gray: #cccccc;
    --color-light-gray: #f5f5f5;
    --color-gray: #899499;
    --color-red: #c21807;
    --color-yellow: #ffd700;
    --color-gold: #ffd700;
    --color-green: #2f452d;
    --color-blue: #4169E1;
    --color-purple: #702963;
    --color-bronze: #cd7f32;
    --color-silver: #b0abab;
    --color-snow: #fffafa;
} */

:root {
    --font-base: "Poppins";
    --color-black: #151618;
    --color-white: #fefefe;
    --color-medium-gray: #cccccc;
    --color-light-gray: #f5f5f5;
    --color-gray: #899499;
    --color-red: #c21807;
    --color-yellow: #ffd700;
    --color-gold: #ffd700;
    --color-green: #2f452d;
    --color-blue: #4169E1;
    --color-purple: #702963;
    --color-bronze: #cd7f32;
    --color-silver: #b0abab;
    --color-snow: #fffafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', medium;
    background-color: var(--color-white);
}

/* :root {
    --font-base: "Poppins";
    --color-black: #151618;
    --color-gray: #899499;
    --color-purple: #702963;
    --color-red: #C21807;
    --color-yellow: #ffd700;
    --color-green: #2f452d;
    --color-white: #fafafa;
    --color-blue: #4169E1;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    cursor: default;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', medium;
    background-color: var(--color-white);
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)),
        url('https://www.shutterstock.com/image-vector/seamless-texture-kitchen-doodle-sketch-600nw-278535350.jpg');
} */

.navbar {
    transition: background-color 0.3s ease;
    font-weight: 580;
}

.navbar .navbar-brand {
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-brand:hover {
    color: var(--color-red);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-brand img {
    width: auto;
    height: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--color-white);
}

.navbar .navbar-nav .nav-item a {
    border-bottom: 0.1875rem solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a.active {
    color: var(--color-red);
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--color-light-gray);
}

footer p {
    color: var(--color-white);
}

footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

footer ul li:hover a {
    color: var(--color-red) !important;
}

.btn-contact-us {
    cursor: pointer;
    position: relative;
    padding: 0.5rem 1.5rem;
    border: 0.125rem solid var(--color-red);
    border-radius: 9rem;
    color: var(--color-red);
    background-color: transparent;
    font-weight: 700;
    overflow: hidden;
    transition: scale 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-contact-us::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-radius: inherit;
    background-color: var(--color-red);
    scale: 0;
    z-index: -1;
    transition: scale 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-contact-us:hover::before {
    scale: 3;
}

.btn-contact-us:hover {
    color: var(--color-white);
    scale: 1.1;
}

.btn-favorite-cart {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--color-red);
    border: 0.125rem solid var(--color-red);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-favorite-cart:hover {
    transform: scale(1.1);
    background-color: var(--color-red);
    color: var(--color-white);
    transition: 0.3s ease;
}

.btn-go-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--color-medium-gray);
    color: var(--color-white);
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.btn-go-to-top.show {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

.btn-go-to-top:hover {
    background-color: var(--color-red);
    transition: 0.3s ease;
}

.icon-social-media {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.125rem;
    color: var(--color-white);
    border: 0.125rem solid var(--color-white);
    transition: 0.3s ease;
}

.icon-social-media:hover {
    color: var(--color-white);
    background-color: var(--color-red);
    border-color: var(--color-red);
    transition: 0.3s ease;
}