body {
  background-color: rgb(250, 242, 231) !important;
}

.container {
  margin-top: 2em;
}
/*Search, Filter and list*/
#searchInput, #filterSelect {
  margin: 10px 1em;
  padding: 10px;
}

.config-util {
  margin-top: 10px;
  margin-left: 30px;
  display:flex;
  flex-direction: row;
}

.config-util h6 {
  display:inline-block;
  width: 100px;
  place-content: center;
}

#foodList {
  list-style-type: none;
  padding: 0;
}

#foodList li {
  padding: 10px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; 
}

/* food-card */
.collage-container {
  box-shadow: inset 0 6px 3px gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow-y: auto;
}
.collage-item {
  position: relative;
  display: inline-block;
  justify-content: center;
  height: 42vh;
  list-style: none;
  margin: 2em 0;
  overflow: hidden;
}
.collage-item div{
  position: relative;
  display: block;
  width: 33vh;
  margin: 0 auto;
}
.collage-item img {
  transition: 1s;
  width: 30vh;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 15px;
}
.collage-item .label {
  transition: 2s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  width: 30.3vh;
  height: 6vh;
  text-align: center;
  font-size: large;
  font-weight: bold;
  display:grid;
  place-items: center;
}

.collage-item div:hover img {
  transition: 0.5s;
  width: 32vh;
  height:34vh;
}

.collage-item div:hover .label {
  transition: 0.5s;
  bottom: 10px;
  background: -webkit-linear-gradient(right, #f1e7ab, #e5e774, #f79797);
  color: rgb(0, 0, 0);
  font-size: 21px;
  width: 32vh;
  height: 8vh;
  border-radius: 100px;
}


